.dull-plot-selector > label {
  position: relative;
  cursor: pointer;
}

.dull-plot-selector > label > input {
  display: none;
}

.dull-plot-selector > label > input:checked ~ span::after {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: FontAwesome;
  font-style: normal;
  font-size: 1.5em;
  text-align: center;
  content: "\f00c";
}

/*
.dull-plot-selector > label > input:checked ~ span:nth-child(2)::before {
  opacity: 1.0;
  content: "\f046";
}
*/

.dull-plot-selector > label > input:checked ~ span > img {
  opacity: 0.50;
}
