.dull-radio label {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.dull-radio input[type=radio] {
  display: none;
}

.dull-radio input[type=radio] ~ span {
  opacity: 1.0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
}

.dull-radio input[type=radio]:disabled ~ span {
  opacity: 0.5;
}

.dull-radio input[type=radio] + span::before {
  width: 1em;
  float: left;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
/*  opacity: 0.25;*/
  content: attr(data-icon-not-selected);
}

.dull-radio input[type=radio]:checked + span::before {
  opacity: 1.0;
  content: attr(data-icon-selected);
}

.dull-radio input[type=radio]:disabled ~ span::before {
  opacity: 0.5;
}

.dull-radio-description {
  display: block;
  width: 100%;
  margin-left: 1.5em;
  font-weight: normal;
}
