.dull-download-container .dull-download-button {
  opacity: 1;
  background-color: #DCDCDC;
  cursor: default;
}

.dull-download-container button:first-child:hover {
  background-color: #DCDCDC;
  border-color: #DCDCDC;
}

.dull-download-container a {
  border: 1px solid #DCDCDC;
}

.dull-download-container a:hover {
  background-color: #DCDCDC;
  border-color: #DCDCDC;
}
