.info-text {

}

.info-text .info-text-label {
  height: 15px;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.info-text .info-text-label span:after {
  font-family: FontAwesome;
  font-style: normal;
  content: "\f05a";
}

.info-text .info-text-label h5 {
  display: inline;
}

.info-text .info-text-body ul {
  padding-left: 20px;
  margin-bottom: 0px;
}

.info-text .well {
  padding-top: 14px;
  padding-bottom: 14px;
}
