body {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.recalculating {
  opacity: 1.0;
}

.simplebox {
  outline: none;
  border: 1px solid #ccc !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.navbar-dull .navbar-nav li {
  cursor: pointer;
  color: #333;
}

.navbar-dull .navbar-nav li:not(.active) {
  opacity: 0.8;
}

.navbar-dull {
  border-bottom: 10px;
  background-color: #DCDCDC;
  border-color: transparent;
}

.navbar-dull .navbar-brand {
  padding-top: 5px;
}

.shiny-plot-output {
  min-width: 400px;
  min-height: 600px;
  padding-bottom: 30px;
}

.plot-title,
.plot-subtitle {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 75px;
}

.plot-options,
.download-options {
  border-left: 1px solid #DCDCDC;
}

.irs-min,
.irs-max {
  color: #333333;
  background: transparent;
  font-size: 10px;
  font-style: normal;
  line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 3px;
/*  border: 1px solid #DCDCDC;*/
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.irs-from,
.irs-to {
  color: #333333;
  background: #DCDCDC;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 3px;
/*    border: 1px solid #DCDCDC;*/
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.irs-single {
  color: #333333;
  background: transparent;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 3px;
/*    border: 1px solid #DCDCDC;*/
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.irs-line {
    height: 8px;
    top: 25px;
    background: transparent;
/*    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%); /* W3C */
    border: 1px solid #DCDCDC;
    border-radius: 16px;
    -moz-border-radius: 16px;
}

.irs-bar {
  height: 8px;
  top: 25px;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  background: transparent;
}

.irs-bar-edge {
  height: 8px;
  top: 25px;
  width: 14px;
  border: 1px solid #DCDCDC;
  border-right: 0;
  background: transparent;
  border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
}

.irs-slider {
  top: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  display: table;
}

.irs-slider:hover {
  background: transparent;
}

.irs-slider::before {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  color: #DCDCDC;
  font-family: FontAwesome;
  font-style: normal;
  font-size: 2.35em;
  content: "\f0d7";
}

.slider-animate-container a {
  color: #333333;
}

.slider-animate-button {
  opacity: 1.0;
}

#ages-year-controls-content label {
  font-size: 12px;
  font-weight: 500;
}

#ages-year-controls-content input {
  width: 102px;
}

.flex-centered {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-ms-box-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-moz-box-align: center;

	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}

