.shiny-notification {
  background-color: #FFFFFF;
  border: 1px solid #333333;
  opacity: 0.95;
}

.shiny-notification-warning {
  background-color: #FFD8A0;
}

.shiny-notification-close {
  bottom: 5px;
  cursor: pointer;
  font-size: 0;
}

.shiny-notification-close::before {
  font-family: FontAwesome;
  font-size: 14px;
  font-style: normal;
  content: "\f00c"
}

.shiny-notification-content-text h5 {
  border-bottom: 1px solid #DCDCDC;
  font-weight: 700;
}

.shiny-notification-warning .shiny-notification-content-text h5 {
  border-bottom: 1px solid #917546;
}

.shiny-notification-content-text p {
  font-weight: normal;
}
