.custom-radio {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.custom-radio input[type=radio] {
  display: none;
  height: 100%;
}

.custom-radio input[type=radio] + span::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  opacity: 0.25;
  content: "\f1db";
}

.custom-radio input[type=radio]:checked + span::before {
  opacity: 1.0;
  content: "\f111";
}

.custom-radio label {
  width: 100%;
  height: 100%;
}

.custom-radio-indicator {
  float: left;
}

.custom-radio-description {
  display: block;
  width: 100%;
  margin-left: 1.5em;
  font-weight: normal;
}


